.skip {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0;
}

.skip:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
    background: radial-gradient(circle, #eddbc7 0%, #AACFB0 100%);
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    font-family: 'Young Serif', serif;
}

h3 {
    font-family: 'Young Serif', serif;
    text-align: center;
}

p {
    margin: 20px;
    text-align: center;
}

.footer-text {
    color: black;
    margin: 20px;
}

.footer-text p {
    margin: 0;
}


header {
    background-color:#355E3B;
    color: #fff;
    font-size: 0.9em;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 5px;
    font-family: 'Young Serif', serif;
}

nav {
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 90px;
    width: 100%;
    z-index: 1000;
    font-family: 'Karla', sans-serif;
}

nav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #DAB68D;
    color: black;
}

.info {
    color: black;
    padding-top: 135px;
    text-align: center;
    font-size: 1em;
    font-weight: 100;
    font-family: 'Karla', sans-serif;
    margin: 10px 20px;
}

.about-me p {
    margin: 10px 30px;
}

.album-name1 {
    color: black;
    text-align: center;
    font-size: 1em;
}

.overlay :first-child {
    font-weight: bold;
    font-style: italic;
}

.title {
    font-weight: bold;
    font-style: italic;
    margin-top: 5px;
}

.album-name {
    padding-top: 20px;
    color: black;
    text-align: center;
    font-size: 1em;
}

.album-artist {
    color: black;
    text-align: center;
    font-size: 0.75em;
    margin-top: -10px;
}

.about-me h2 {
    padding-top: 130px;
    margin-left: 30px;
}

.album-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-bottom: 20px;
}

.album {
    position: relative;
    width: auto;
    height: auto;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 40px;
}

.album img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.album .overlay {
    position: absolute;
    line-height: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Karla', sans-serif;
}

.album:hover .overlay,
.album:focus .overlay {
    opacity: 1;
}

.artist-img {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px;
    object-fit: cover;
    border: 3.5px solid #355E3B;
}

img:hover {
    box-shadow:
    1px 1px #518F5A,
    2px 2px #518F5A,
    3px 3px #518F5A,
    4px 4px #518F5A,
    5px 5px #518F5A,
    6px 6px #518F5A;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
}

.spotify {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px 20px;
}

footer {
    color: #fff;
    padding: 20px;
    margin-bottom: -75px;
    text-align: center;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
  }

  .social-icons img {
    width: 30px; /* Adjust the size of the icons as needed */
  }

@media only screen and (min-width: 768px) {
    .album-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .artist {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about-me p {
        font-size: 1.2em;
        margin: 10px 100px;
    }

    .artist-img {
        width: 325px;
        height: 325px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 200px;
        object-fit: cover;
    }

    .artist-profile {
        margin-top: 0px;
        margin-right: 60px;
        font-size: 1em;

    }

    h3 {
        font-size: 2em;
    }
    
    header {
        font-size: 1em;
    }

    nav {
        font-size: 1.2em;
    }

    .info {
        padding-top: 140px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .spotify {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 20px 100px;
    }
}

@media only screen and (min-width: 1200px) {
    .album-container {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 40px;
    }

    .album {
        position: relative;
        width: 350px;
        height: 350px;
        margin: 20px;
        overflow: hidden;
        cursor: pointer;
    }

    .artist-img {
        width: 325px;
        height: 325px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 200px;
        object-fit: cover;
    }

    .artist-profile {
        margin-top: 0px;
        margin-left: -40px;
        margin-right: 70px;
        font-size: 1.2em;

    }

    h3 {
        font-size: 2em;
    }

    .info {
        padding-top: 145px;
        margin: 10px 290px;
        font-size: 1.2em;
    }
}